* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}


/* Desktop Responsiveness */

.desktop {
    display: flex;
    width: 100%;
    height: 100vh;
}


.left {
    display: flex;
    width: 40%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #003049;
}
.left .logo {
    width: 300px;
}

.left .title-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.left .title-text .sas {
    font-size: 2rem;
    color: #FDF0D5;
    font-weight: bold;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-left: auto;
}

.right .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right .login .login-title {
    font-size: 3rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10%;
}

.right .login .login-description {
    font-size: 1.5rem;
    font-weight: 500;
}

.right .option-button {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.right .option-button .student {
    border-radius: 15px;
    background-color: #003049;
    border: 1px solid #003049;
    color: white;
    font-size: 1.6rem;
    padding: 15px 150px 15px 150px;
    cursor: pointer;
}

.right .option-button .faculty {
    margin-top: 5%;
    border-radius: 15px;
    background-color: #780000;
    border: 1px solid #780000;
    color: white;
    font-size: 1.6rem;
    padding: 15px 150px 15px 150px;
    cursor: pointer;
}






/* Mobile Responsiveness */
.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header {
    width: 100%;
    height: 100%;
    background-color: #003049;
}

.option {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
}

.option .faculty {
    background-color: #780000;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 48vh;
}

.header .logo {
    width: 150px;
}

.header .description {
    font-weight: 600;
    font-size: 15px;
    margin-top: 5%;
    color: #FDF0D5;
}

.userinput {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.loginwith {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    width: 100%;
}
.loginwith .signin-text {
    color: #FDF0D5;
}
.loginwith .icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #F0F0F0;
}
.loginwith .icon i {
    font-size: 16px;
    background-color: #FDF0D5;
    padding: 8px;           
    border-radius: 15px;
    margin: 0 3px;
    margin-bottom: 5%;
    margin-top: 2%;
}

.title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.title-text .title {
    font-size: 1.8rem;
    color: #333;
    font-weight: bold;
}

.title-text .description {
    text-align: center;
    font-size: .8rem;
    margin-top: 5%;
}

.userinput .option-button {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.userinput .option-button .student {
    border-radius: 50px;
    background-color: #003049;
    border: 1px solid #003049;
    color: white;
    font-size: 1rem;
    padding: 15px 80px 15px 80px;
    cursor: pointer;
}

.userinput .option-button .faculty {
    margin-top: 5%;
    border-radius: 50px;
    background-color: #780000;
    border: 1px solid #780000;
    color: white;
    font-size: 1rem;
    padding: 15px 80px 15px 80px;
    cursor: pointer;
}



@media (min-width: 1024px) {
    .mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }
}